body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #d0ccc6;

  background-color: #181a1b;

  a {
    // color: #89c5fe;
    color: #5C913B;
  }
}