@import '../../variables.scss';

.ViewTierList {
  @include flex-column;
  // border: 3px dashed rgb(223, 71, 228);
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.tier-list-main {
  border: 3px solid #027C49;
  border-radius: 0.5rem;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.tier-list-left {
  // border: 3px solid red;
  width: 8%;

  div {
    background-color: rgb(110, 177, 253);
    height: 60px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
}

.tier-list-right {
  // border: 3px solid #027C49;
  width: 92%;

  div {
    height: 60px;
    display: flex;
    font-weight: bold;
    justify-content: left;
    align-items: center;

    img {
      height: 60px;
    }
  }
}

.form {
  @include flex-column;
  align-items: center;
  margin-top: 2rem;
  background-color: #027C49;
  border-radius: 0.5rem;
  padding: 2rem;
  color: white;
  width: 70%;

  .inputs {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
  }
}

.tier-rank-item{
  color: $black;
}

h1{
  margin: 1rem 0;
}